<p>啊啦，好像出 404 了，该怎么办好呢？</p>
<p>那听首歌吧</p>
<p>荒草丛生的青春</p>
<p>倒也过得安稳</p>
<p>代替你陪着我的是年轮</p>
<p>数着一圈圈年轮</p>
<p>我认真将心事都封存</p>
<p>密密麻麻是我的自尊</p>
<p>修改一次次离分</p>
<p>我承认曾幻想过永恒</p>
<p>可惜从没人陪我演这剧本</p>
<iframe src="//player.bilibili.com/player.html?isOutside=true&aid=114749966648572&bvid=BV1TSKfz1EVf&cid=30711875362&p=1"
        scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" allow="autoplay"
        class="w-150 h-150"></iframe>
<p (click)="goBack()" class="text-blue-500 hover:underline underline-offset-3 mb-4">走吧，点击这里返回吧</p>
